#main{
    width: 100%;
    /* height: 1000px; */
    background-color: white;
}
#upper{
    display: flex;
    justify-content: right;
    margin: auto;
}
#upper>div>p{
    margin-left: 20px;
    margin-right: 10px;
}
#nav{
    height: 100px;
    width: 100%;
    display: flex;
    margin: auto;
    padding: 12px;
} 
#nav>:nth-child(1){
    width: 30%;
    margin-left: 10px;
}
#nav>:last-child{
    width: 15%;
    text-align: center;
    margin-left: 20%;
}
#nav>div>:first-child{
    text-align: center;
    margin: auto;
    padding: 8px;
    border: 0px;
}
#nav>:last-child>p{
    padding: 12px;
    background-color: rgb(245, 189, 84);
    border-radius: 20px; 
}
.success{
    width: 40%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 150px;
} 
.success h3{
    color: rgb(37, 186, 37);
}
.success h1{
    font-size: 50px;
    color: rgb(34, 56, 43);
}
.success p{
    font-size: 20px;
}
.success button{
    padding: 25px 50px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
}
#btn1{
    background-color: rgb(245, 189, 84);
}
#btn1:hover{
    background-color: rgb(255, 167, 3);
}
#btn2:hover{
    background-color: rgb(245, 189, 84);
}
.custStories{
    width: 100%;
    height: 3150px;
    background-color: rgb(223, 234, 234);
}
.custStories h1{
    margin-top: 150px;
    text-align: center;
    font-size: 40px;
    color: rgb(34, 56, 43);
}
.custStories>div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 40px;
    margin: 50px 30px 150px 30px;
}
.custStories>div>div{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 40px;
    /* margin-bottom: 150px; */
}
.custStories>div>div>img{
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.custStories>div>div>h2,p,h3{
    margin-left: 50px;
    margin-right: 50px;
    
}
.custStories>div>div>h3{
    color:rgb(8, 190, 75);
    text-decoration: underline;
}
.topSales h2{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
.topSales>div{
    display: flex;
    width: 15%;
    margin-bottom: 100px;
}
.topSales>div>img{
    margin: auto 40px;
}
.industry{
    background-color:  rgb(16, 61, 84);
}
.industry>h1{
    margin-top: 100px;
    text-align: center;
    color: white;
}
.industry>div{
    display: flex;
    margin: auto;
}
.industry>div>img{
    width: 15%;
    margin-bottom: 150px;
}
#leader{
    justify-content: center;
    margin-bottom: 100px;
}
.head{
    text-align: center;
    margin-top: 50px;
}
.feedback{
    display: flex;
}
.feedback>div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    justify-content: space-between;
    margin: 20px 20px;
    border-radius: 30px;
}
.feedback>div>div{
    display: flex;
    margin-left: 50px;
}
.feedback>div>div>div{
    display: grid;
}
.feedback>div>div>div{
    margin-left: 10px;
}
.feedback>div>div img{
    width: 20%;
    height: 80px;
}
.feedback>div>div>div>:first-child{
    color: rgb(56, 72, 63);
}
.feedback>div>div>div>:last-child{
    color: gray;
}
.feedback>div>div>div span{
    color:rgb(8, 190, 75); 
} 
#checkout{
    padding: 25px 50px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    margin-left: 40%;
    margin-bottom: 150px;
}
#checkout:hover{
    background-color: rgb(245, 189, 84);
}
.ready{
    text-align: center;
    margin: auto;
    background-color:  rgb(16, 61, 84);
    margin-bottom: 100px;
} 
.ready h1{
    margin-top: 150px;
    font-size: 40px;
    color: rgb(34, 56, 43);
    color: white;
}
.ready button{
    padding: 25px 50px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    margin-bottom: 150px;
}
#btn1{
    background-color: rgb(245, 189, 84);
}
#btn1:hover{
    background-color: rgb(255, 167, 3);
}
#btn2:hover{
    background-color: rgb(245, 189, 84);
}
.bot{
    display: flex;
}
.bot>:first-child{
    width: 70%;
    margin-bottom: 80px;
}
.bot img{
    margin-left: 20px;
}
.bot button{
    padding: 25px 50px;
    border-radius: 50px;
    border: none;
}
.bottom{
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.bottom>div{
    margin-left: 20px;
}
.bottom h3{
    color: rgb(50, 50, 50);
}
.conDetails{
    display: flex;
}
.bottom p:hover{
    color:rgb(21, 192, 21);
}
.footer{
    display: flex;
}
.footer>div{
    margin-left: 20px;
    margin-right: 80px;
}
.footer>p:hover{
    color:rgb(21, 192, 21);
}